/* Shared styles among all dropdown menus: */
.dropdown {
  z-index: 2;
  box-sizing: border-box;

  font-size: 0.33em;
  text-align: center;

  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;

  width: 34em;

  background: white;
  color: #000;

  border: 2px solid black;
  border-radius: 1.5em;
  transition: height .5s ease;
}

.dropdown > * {
  width: 100%;
}

.dropdown_content {
  padding: 1em 2em 1.2em 2em;
}

.header {
  height: fit-content;
  position: relative;
  
  font-size: 1.9em;
  font-weight: 400;

  border-bottom: 2px solid gray;
  
  padding-bottom: 0.5em;
  margin-bottom: 0.7em;
}

.header_back {
  position: absolute;
  left: 0;
  top: 0;

  height: 1.3em;
  width: 1.3em;
  
  transition: filter .2s ease;
  background: rgb(236, 236, 236);
  border-radius: 50%;
  cursor: pointer;
}

.header_back:hover {
  filter: brightness(.9)
}

.body {
	font-size: 2em;
}

/* Dropdown Main Menu styles: */
.dropdown_item {
  position: relative;
  height: 4.4em;
  border-radius: 100px;
  
  vertical-align: middle;
  color: #fff;
  background: #000;
  
  cursor: pointer;
  user-select: none;
}

.dropdown_item:hover {
  opacity: 0.8;
}

.dropdown_item + .dropdown_item {
  margin-top: 0.7em;
}

.dropdown_item_icon {
  position: absolute;
  height: 2.2em;
  width: 2.2em;
  left: 2em;
  top: 50%;
  transform: translateY(-50%);
}

.dropdown_item_icon path {
  fill: #fff;
}

.dropdown_item_text {
  line-height: 2.6em;
  font-weight: 700;
  font-size: 1.7em;
}

.not_found {
	font-size: 0.8em;
	font-weight: 100
}

/* Dropdown Settings Menu styles: */

.settings_item {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.settings_item + .settings_item {
	margin-top: 0.3em;
}

.setting_name {
	font-weight: 600;
}

.settings_item select {
	width: 60%;
	border-radius: 100px;
	font-size: 0.8em;

	text-overflow: ellipsis;
	/* padding-left: 0.5em;
	padding-right: 1.5em; */
	padding: 0.2em 1.5em 0.2em 0.5em;

	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-image: url('../../assets/down.svg');
	background-position: right 0.5em top -3px;
	background-size: 15px;
	background-repeat: no-repeat;
}



/* CSSTransition animation classes: */

/* Main menu */
.mainMenuEnterActive {
  position: absolute;
  transform: translateX(130%);
}

.mainMenuEnterDone {
  transform: translateX(0);
  transition: all .5s ease;
}

.mainMenuExitActive {
  transform: translateX(130%);
  transition: all .5s ease;
}

.mainMenuExitDone {
  transform: translateX(-130%);
}

/* Secndary menus */
.secondaryMenuEnterActive {
  position: absolute;
  transform: translateX(-130%);
}

.secondaryMenuEnterDone {
  transform: translateX(0);
  transition: all .5s ease;
}

.secondaryMenuExitActive {
  transform: translateX(-130%);
  transition: all .5s ease;
}

.secondaryMenuExitDone {
  transform: translateX(130%);
}

