DATABASE_URL="postgresql://user:password@localhost:5432/mydb?schema=public"
S3_ENDPOINT="http://127.0.0.1:3900" # Explicit IPv4 required for Garage to work. localhost:3900 or garage:3900 are no go :(
S3_BUCKET="my-bucket"
S3_KEY="xxxxxxxxxxxxxxxxxxxxxxxxxx"
S3_SECRET="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"