.card {
	display: flex;
	gap: 2em;

	position: relative;
	
	height: 17.85em;
	margin-bottom: 1em;

	border: 1px solid rgb(0, 0, 0);

	border-radius: 2em;
	overflow: hidden;
}

.info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 1.5em 0 1.5em 0;
	width: 60%;
}

.title {
	font-family: 'Poiret One', cursive;
	font-size: 2.1em;
	font-weight: 100;
	text-shadow: 0.1px 0.1px;
	width: 100%;
}

.icon_wrapper {
	position: absolute;
	top: 2em;
	right: 2em;

	display: flex;
	justify-content: space-around;
	gap: 0.8em;

	height: 1.4em;
	width: max-content;
}

.icon {
	line-height: 0 !important;
	font-size: 0 !important;
	display: contents;
	cursor: pointer;
}

.icon img {
	height: 100%;
}

.image {
	border-top-left-radius: 2em;
	border-bottom-left-radius: 2em;
	border: 0.27em solid #fff;

	margin: -1px;
  z-index: -1;
}

@media only screen and (max-width: 850px) {
	.card {
		font-size: 1.65vw;
	}

	.image {
		border: max(0.5vw, 3px) solid #fff;
	}
}

@media only screen and (max-width: 380px) {
	.card {
		border-radius: 2.5em;
	}

	.image {
		border-top-left-radius: 2.5em;
		border-bottom-left-radius: 2.5em;
	}
}