.track_list {
  box-sizing: content-box;
	position: relative;
}

.gh_link {
	position: fixed;
	right: 0.5em;
	bottom: 0.8em;
	font-size: 1.2em;
}

.gh_icon {
	height: 1.2em;
	width: 1.2em;
	margin-right: 0.5em;
	transform: translateY(0.18em);
}

@media only screen and (max-width: 1400px) {
	.gh_text {
		display: none;
	}

	.gh_link {
		right: 0;
		bottom: 0.5em;
		font-size: 2em;
	}
}
@media only screen and (max-width: 925px) {
	.gh_link {
		display: none;
	}
}