.img_204 {
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
	height: min(75vh, 100vw);
}

.message {
	font-size: min(3.2vh, 5vw);
	font-weight: 400;
	left: 50%;
	bottom: min(78vh, 105vw);
	transform: translate(-50%, 0);
	z-index: 3;
	position: fixed;
}