*, *::before, *::after {
	margin: 0;
	padding: 0;
  box-sizing: border-box;
}

:root {
	--red-orange: #ff4d00;
	--hover-color: #818181; 
}

html, :root, #root {
	font-size: 14px;
	width: 100vw;
	display: inline;
}

body {
	box-sizing: border-box;
  font-family: 'JetBrains Mono', monospace;
	font-size: 2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
	width: 100vw;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	background: none;
	outline: none;
	border: none;
	font-size: inherit;
}

.container {
	margin: 0 auto;
	padding: 0 50px;
	max-width: 750px;
}

/* Scrollbar */
::-webkit-scrollbar {
	width: 15px;
	background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
	background: #b4b4b4;
	border-radius: 50px;
	border: 3.5px solid #ffffff;
}

/* Media Queries */
@media only screen and (max-width: 850px) {
	.container {
		padding: 0 5.8vw !important; 
	}
}