.progress_bar span {
	font-size: 2em;
	margin-right: 0.5em;
	font-weight: 400;
}

.watched {
	color: red;
	font-weight: 500 !important;
}

.is_more_after span:last-child {
	display: none;
}

.is_more_after span:nth-last-child(2)::after {
	content: ' ...';
}