.progress_bar span {
	font-size: 1.9em;
	margin-right: 0.5em;
	font-weight: 100;
}

.watched {
	color: red;
	font-weight: 400 !important;
}

.is_more_after span:last-child {
	display: none;
}

.is_more_after span:nth-last-child(2)::after {
	content: '...';
}